.products-container {
    margin: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.product-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 35px;
    
}