@import "../../../styles/mixins";
@import "../../../styles/variables";
@import '../../../styles/fonts';

h1 {
    font-size: 55px;
    margin: 20px;
    @include text-shadow;
    cursor: pointer;
}

.found-results-container {   
    mat-tab-group {
        background-color: $div-background-color;
        mat-spinner {
            margin: 50px;
            margin-left: 20%;
        }
    }
}