$div-background-color: rgba(113, 169, 233, 0.585);
$text-color: #e7e7e7;
$light-background-color: #7c7ce6;
$secondary-background-color: #5757f1; 
$border-green: #04764c;
$dark-green-color: #024712;
$light-contrast-color: #ffcd03;
$dark-contrast-color: #FB8500;