<div class="dispensary-container">
    <div class="dispensary-header">
            <h1>{{data.Name}}</h1>
            <p>{{data.Description}}</p>
    </div>
    <div class="dispensary-details">
        <div class="dispensary-image"> 
            <img src="{{data.Image}}" >
        </div>
        <div class="contact-details">
            <div class="main-details">
                <p><strong>Rating:</strong> {{data.Rating}}</p>
                <p><strong>Address: </strong> {{data.Address1 }}</p>
                <p><strong>Email: </strong> <a ></a>{{data.Email }}</p>
                <p><strong>City:</strong> {{data.City}}</p>
                <p><strong>PostalCode</strong> {{data.PostalCode}}</p>
                <p><strong>State:</strong> {{data.Region}}</p>
            </div>
        </div>
    </div>
</div>